# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment
.env
venv/
env/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Static collected
staticfiles/